<div class="content-area">
        <h2 class="dashboard-header">VRF</h2>
        <div class="alert alert-info" role="alert" *ngIf="showApplicationProfileAcknowledge">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">VRF data sent to ACI.</span>
                    <!-- <div class="alert-actions">
                        <a href="#" class="alert-action">Acknowledge</a>
                        <a href="#" class="alert-action">Reset to green</a>
                    </div> -->
                </div>
            </div>
            <button type="button" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close" (click)="closeApplicationProfileAckAlert()"></clr-icon>
            </button>
        </div>
        <!-- Success Alert div-->
        <!-- <div class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">...</span>
                </div>
            </div>
        </div> -->
        <div>
          <clr-datagrid [(clrDgSingleSelected)]="selectedApplicationProfile" [clrDgLoading]="applicationProfileDataGridLoading">
            <clr-dg-column>Application Profile</clr-dg-column>  
            <clr-dg-row *clrDgItems="let applicationprofile of applicationprofiles" [clrDgItem]="applicationprofile">
              <clr-dg-cell>{{applicationprofile.vrfName}}</clr-dg-cell>
              <clr-dg-cell>{{applicationprofile.pControlEnforcementPref}}</clr-dg-cell>
              <clr-dg-cell>{{applicationprofile.pControlEnforcementDir}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
              {{pagination.totalItems}} application profiles
              <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
          <button role="tooltip" aria-haspopup="true"
            class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getApplicationProfiles()">
            <clr-icon shape="refresh"></clr-icon>
            <span class="tooltip-content tooltip-refresh">Refresh Application Profile list</span>
          </button>
          <button class="btn btn-sm btn-secondary" (click)="openApplicationProfileModal()" [disabled]="applicationProfileDataGridLoading">Create
          Application Profile</button>
      
            <!---------------------------CREATE TENANT------------------------------------------------>
      
          <form (ngSubmit)="createApplicationProfileSubmit()" [hidden]="submitted" novalidate>
            <clr-modal [(clrModalOpen)]="applicationProfileAddModal" [clrModalSize]="'x0.5'">
              <h3 class="modal-title">Create Application Profile</h3>
              <div class="modal-body">
                <section class="form-block">
                    <!-- <div class="form-line line-description" style="width:100%">
                        <div class="form-group textarea-group" [formGroup]="applicationProfileAddForm">
                          <div class="input-group" [ngClass]="{'invalid-input': isInvalid(applicationProfileAddForm, 'tenantName')}">
                            <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                              <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                                [ngClass]="{'icon-transparent' : !isInvalid(applicationProfileAddForm, 'tenantName')}">
                              </clr-icon>
                              <span class="tooltip-content error-message" *ngIf="isInvalid(applicationProfileAddForm, 'tenantName')">Invalid
                                syntax for login: Valid special characters are: . - _</span>
                            </a>
                          </div>
                        </div>
                      </div> -->
                    <div class="form-line line-description" style="width:100%">
                      <div class="form-group textarea-group" [formGroup]="applicationProfileAddForm">
                        <div class="input-group" [ngClass]="{'invalid-input': isInvalid(applicationProfileAddForm, 'ApplicationProfileName')}"style="width: 100%">
                          <input type="text" id="ApplicationProfileName" formControlName="ApplicationProfileName" placeholder="Application Profile Name *" style="width:100%">
                          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                            <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                              [ngClass]="{'icon-transparent' : !isInvalid(applicationProfileAddForm, 'ApplicationProfileName')}">
                            </clr-icon>
                            <span class="tooltip-content error-message" *ngIf="isInvalid(applicationProfileAddForm, 'ApplicationProfileName')">Invalid
                              syntax for login: Valid special characters are: . - _</span>
                          </a>
                          <a href="..." title="Application Profile Name" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
                            <clr-icon shape="info-circle" size="24"></clr-icon>
                            <span class="tooltip-content">Application Profile Name</span>
                          </a>
                        </div>
                      </div>
                      </div>
                  
                      <!-- <div class="form-line line-description">
                        <div class="form-group textarea-group" [formGroup]="applicationProfileAddForm">
                          <div class="input-group" [ngClass]="{'invalid-input': isInvalid(applicationProfileAddForm, 'Description')}">
                            <input type="text" id="Description" formControlName="Description" placeholder="Application Profile Name *">
                            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                              <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                                [ngClass]="{'icon-transparent' : !isInvalid(applicationProfileAddForm, 'Description')}">
                              </clr-icon>
                              <span class="tooltip-content error-message" *ngIf="isInvalid(applicationProfileAddForm, 'Description')">Invalid
                                syntax for login: Valid special characters are: . - _</span>
                            </a>
                          </div>
                        </div>
                      </div> -->                         
                      
                      <div class="form-line line-description">
                        <div class="form-group textarea-group" [formGroup]="applicationProfileAddForm">
                            <textarea id="Description" formControlName="Description" placeholder="Description" ngModel style="margin: 0 18px;"></textarea>
                        </div>
                      </div>                  
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="createApplicationProfileCancel(applicationProfileAddForm)">Cancel</button>
                <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': applicationProfileAddForm.invalid}">Create</button>
              </div>
            </clr-modal>
          </form>
        </div>
      </div>