<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" class="menu-max-height">
    <div class="menu-separated">
        <div>
            <div class="nav-group-content">
                <button class="menu-parent" (click)="subVisible = !subVisible"
                    [ngClass]="{'selected': route ==='group' || route ==='user', 'no-selected': route !=='group' && route !=='user'}">
                    <div class="text-parent-menu">
                        ACI
                    </div>
                    <clr-icon shape="angle" [ngClass]="{'rotateX': subVisible, 'unrotateX': !subVisible}"></clr-icon>
                </button>
            </div>
            <div *ngIf="subVisible">
                <a clrVerticalNavLink routerLink="./user" class="no-selected"
                    [ngClass]="{selected: route ==='user', 'no-selected': route !=='user'}" class="child-menu">
                    Tenants
                </a>   
                <a clrVerticalNavLink routerLink="./vrf" class="no-selected"
                    [ngClass]="{selected: route ==='vrf', 'no-selected': route !=='vrf'}" class="child-menu">
                   VRF
                </a>             
                <a clrVerticalNavLink routerLink="./bridge" class="no-selected"
                    [ngClass]="{selected: route ==='bridge', 'no-selected': route !=='bridge'}" class="child-menu">
                    Bridge Domain
                </a>
                <a clrVerticalNavLink routerLink="./applicationprofilename" class="no-selected"
                    [ngClass]="{selected: route ==='applicationprofilename', 'no-selected': route !=='applicationprofilename'}" class="child-menu">
                    Application Profile Name
                </a>
                <a clrVerticalNavLink routerLink="./epg" class="no-selected"
                    [ngClass]="{selected: route ==='epg', 'no-selected': route !=='epg'}" class="child-menu">
                    EPG
                </a>
                <a clrVerticalNavLink routerLink="./contract" class="no-selected"
                    [ngClass]="{selected: route ==='contract', 'no-selected': route !=='contract'}" class="child-menu">
                    Contract
                </a>   
                <a clrVerticalNavLink routerLink="./filter" class="no-selected"
                    [ngClass]="{selected: route ==='filter', 'no-selected': route !=='filter'}" class="child-menu">
                    Filter
                </a>      
                
                <a clrVerticalNavLink routerLink="./conbinding" class="no-selected"
                    [ngClass]="{selected: route ==='conbinding', 'no-selected': route !=='conbinding'}" class="child-menu">
                    Contract Binding
                </a> 
                                 
            </div>
        </div>
    </div>
</clr-vertical-nav>