<div class="content-area">
    <h2 class="dashboard-header">Tenant</h2>
    <div class="alert alert-info" role="alert" *ngIf="showUserAcknowledge">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">Tenant data sent to ACI.</span>
                <!-- <div class="alert-actions">
                    <a href="#" class="alert-action">Acknowledge</a>
                    <a href="#" class="alert-action">Reset to green</a>
                </div> -->
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close" (click)="closeUserAckAlert()"></clr-icon>
        </button>
    </div>
    <!-- Success Alert div-->
    <!-- <div class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">...</span>
            </div>
        </div>
    </div> -->
    <div>
      <clr-datagrid [(clrDgSingleSelected)]="selectedUser" [clrDgLoading]="userdatagridloading">
        <clr-dg-column>Tenant</clr-dg-column>  
        <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
          <clr-dg-cell>{{user.tenantName}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
          {{pagination.totalItems}} tenants
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <button role="tooltip" aria-haspopup="true"
        class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getUsers()">
        <clr-icon shape="refresh"></clr-icon>
        <span class="tooltip-content tooltip-refresh">Refresh Tenant list</span>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="openUserModal()" [disabled]="userdatagridloading">Create
        Tenant</button>
  
        <!---------------------------CREATE TENANT------------------------------------------------>
  
      <form (ngSubmit)="createUserSubmit()" [hidden]="submitted" novalidate>
        <clr-modal [(clrModalOpen)]="useraddmodal" [clrModalSize]="'x0.5'">
          <h3 class="modal-title">Create Tenant</h3>
          <div class="modal-body">
            <section class="form-block">
              <div class="form-line">
                  <div class="form-group" [formGroup]="useraddform">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(useraddform, 'tenantName')}">
                      <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(useraddform, 'tenantName')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(useraddform, 'tenantName')">Invalid
                          syntax for login: Valid special characters are: . - _</span>
                      </a>
                    </div>
                  </div>
                </div>
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="createUserCancel(useraddform)">Cancel</button>
            <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': useraddform.invalid}">Create</button>
          </div>
        </clr-modal>
      </form>
    </div>
  </div>