<div class="content-area">
        <h2 class="dashboard-header">Bridge Domain</h2>
        <div class="alert alert-info" role="alert" *ngIf="showBridgeAcknowledge">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">Bridge Domain data sent to ACI.</span>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close" (click)="closeBridgeAckAlert()"></clr-icon>
            </button>
        </div>
        <div>
          <clr-datagrid [(clrDgSingleSelected)]="selectedBridge" [clrDgLoading]="bridgedatagridloading">
            <clr-dg-column>Tenant Name</clr-dg-column>
            <clr-dg-column>Bridge Domain Name</clr-dg-column>
            <clr-dg-column>Type</clr-dg-column>
      
            <clr-dg-row *clrDgItems="let bridge of bridges" [clrDgItem]="bridge">
              <clr-dg-cell>{{bridge.login}}</clr-dg-cell>
              <clr-dg-cell>{{bridge.display_name}}</clr-dg-cell>
              <clr-dg-cell>{{bridge.description}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
              {{pagination.totalItems}} Bridge Domain
              <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
          <button role="tooltip" aria-haspopup="true"
            class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getBridges()">
            <clr-icon shape="refresh"></clr-icon>
            <span class="tooltip-content tooltip-refresh">Refresh Bridge list</span>
          </button>
          <button class="btn btn-sm btn-secondary" (click)="openBridgeModal()" [disabled]="bridgedatagridloading">Create
            Bridge Domain</button>
      
            <!---------------------------CREATE------------------------------------------------>
      
          <form (ngSubmit)="createBridgeSubmit()" [hidden]="submitted" novalidate>
            <clr-modal [(clrModalOpen)]="bridgeaddmodal" [clrModalSize]="'x0.5'">
              <h3 class="modal-title">Create Bridge Domain</h3>
              <div class="modal-body">
                <section class="form-block">
            <!-- <div class="form-line">
                        <div class="form-group" [formGroup]="bridgeaddform" style="width:100%;">
                            <div class="input-group" [ngClass]="{'invalid-input': isInvalid(bridgeaddform, 'TenantName')}" style="width:100%;">
                                <input type="text" id="TenantName" formControlName="TenantName" placeholder="Tenant Name *">
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                                <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                                    [ngClass]="{'icon-transparent' : !isInvalid(bridgeaddform, 'TenantName')}">
                                </clr-icon>
                                <span class="tooltip-content error-message" *ngIf="isInvalid(bridgeaddform, 'TenantName')">
                                    Invalid syntax for TenantName: Valid special characters are: . - _</span>
                                </a>
                            </div>
                        </div>                                           
                  </div>  -->
                  
                  <div class="form-line">
                        <div class="form-group" [formGroup]="bridgeaddform">
                            <div class="input-group" [ngClass]="{'invalid-input': isInvalid(bridgeaddform, 'BDName')}">
                                <input type="text" id="BDName" formControlName="BDName" placeholder="Bridge Domain Name *">
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                                <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                                    [ngClass]="{'icon-transparent' : !isInvalid(bridgeaddform, 'BDName')}">
                                </clr-icon>
                                <span class="tooltip-content error-message" *ngIf="isInvalid(bridgeaddform, 'BDName')">
                                    Invalid syntax for BDName: Valid special characters are: . - _</span>
                                </a>
                            </div>
                    </div>                     
                   <div class="form-group" [formGroup]="bridgeaddform">
                        <div class="input-group" [ngClass]="{'invalid-input': isInvalid(bridgeaddform, 'VRF')}">
                            <input type="text" id="VRF" formControlName="VRF" placeholder="VRF *">
                            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                            <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                                [ngClass]="{'icon-transparent' : !isInvalid(bridgeaddform, 'VRF')}">
                            </clr-icon>
                            <span class="tooltip-content error-message" *ngIf="isInvalid(bridgeaddform, 'VRF')">
                                Invalid syntax for VRF: Valid special characters are: . - _</span>
                            </a>
                        </div>
                    </div>                    
                  </div>
      
                 <div class="form-line line-description">
                    <div class="form-group textarea-group" [formGroup]="bridgeaddform">
                        <textarea id="Description" formControlName="Description" placeholder="Description" ngModel style="margin: 0 18px;"></textarea>
                    </div>
                  </div>


                  <div class="form-line">
                        <div class="form-group" [formGroup]="bridgeaddform">
                            <div class="input-group" [ngClass]="{'invalid-input': isInvalid(bridgeaddform, 'ip1')}">
                                <input type="text" id="ip1" formControlName="ip1" placeholder="Gatway IP Address ">
                            </div>
                        </div>                                      
                  </div>            
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="createBridgeCancel(bridgeaddform)">Cancel</button>
                <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': bridgeaddform.invalid}">Create</button>
              </div>
            </clr-modal>
          </form>
        </div>
    
      </div>