<div class="content-area">
    <h2 class="dashboard-header">VRF</h2>
    <div class="alert alert-info" role="alert" *ngIf="showVrfAcknowledge">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">VRF data sent to ACI.</span>
                <!-- <div class="alert-actions">
                    <a href="#" class="alert-action">Acknowledge</a>
                    <a href="#" class="alert-action">Reset to green</a>
                </div> -->
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close" (click)="closeVrfAckAlert()"></clr-icon>
        </button>
    </div>
    <!-- Success Alert div-->
    <!-- <div class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">...</span>
            </div>
        </div>
    </div> -->
    <div>
      <clr-datagrid [(clrDgSingleSelected)]="selectedVrf" [clrDgLoading]="vrfDataGridLoading">
        <clr-dg-column>VRF</clr-dg-column>  
        <clr-dg-row *clrDgItems="let vrf of vrfs" [clrDgItem]="vrf">
          <clr-dg-cell>{{vrf.vrfName}}</clr-dg-cell>
          <clr-dg-cell>{{vrf.pControlEnforcementPref}}</clr-dg-cell>
          <clr-dg-cell>{{vrf.pControlEnforcementDir}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
          {{pagination.totalItems}} VRF's
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <button role="tooltip" aria-haspopup="true"
        class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getVrfs()">
        <clr-icon shape="refresh"></clr-icon>
        <span class="tooltip-content tooltip-refresh">Refresh VRF list</span>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="openVrfModal()" [disabled]="vrfDataGridLoading">Create
        VRF</button>
  
        <!---------------------------CREATE TENANT------------------------------------------------>
  
      <form (ngSubmit)="createVrfSubmit()" [hidden]="submitted" novalidate>
        <clr-modal [(clrModalOpen)]="vrfAddModal" [clrModalSize]="'x0.5'">
          <h3 class="modal-title">Create VRF</h3>
          <div class="modal-body">
            <section class="form-block">
                <!-- <div class="form-line line-description">
                    <div class="form-group textarea-group" [formGroup]="vrfAddForm" style="width:100%">
                      <div class="input-group" [ngClass]="{'invalid-input': isInvalid(vrfAddForm, 'tenantName')}">
                        <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                          <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                            [ngClass]="{'icon-transparent' : !isInvalid(vrfAddForm, 'tenantName')}">
                          </clr-icon>
                          <span class="tooltip-content error-message" *ngIf="isInvalid(vrfAddForm, 'tenantName')">Invalid
                            syntax for login: Valid special characters are: . - _</span>
                        </a>
                      </div>
                    </div>
                  </div> -->
                <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="vrfAddForm" style="width:100%">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(vrfAddForm, 'vrfName')}">
                      <input type="text" id="vrfName" formControlName="vrfName" placeholder="VRF *" style="width:100%">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(vrfAddForm, 'vrfName')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(vrfAddForm, 'vrfName')">Invalid
                          syntax for login: Valid special characters are: . - _</span>
                      </a>
                      <a href="..." title="VRF Name" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">VRF Name</span>
                      </a>
                    </div>
                  </div>
                  </div>
              
                

                <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="vrfAddForm" >
                    <clr-select-container style="width: auto;margin: 0 10px">
                      <label>Policy Control Enforcement Preference*</label><br />
                      <select clrSelect name="pControlEnforcementPref" [(ngModel)]="pControlEnforcementPref"  formControlName="pControlEnforcementPref" style="width: 100%;">
                        <option value="Enforced">Enforced</option>
                        <option value="Unenforced">Unenforced</option>
                      </select>
                    </clr-select-container>
                  </div>
               
                
                  <div class="form-group textarea-group" [formGroup]="vrfAddForm" >
                    <clr-select-container style="width: 200px;">
                      <label>Policy Control Enforcement Direction*</label><br />
                      <select clrSelect name="pControlEnforcementDir" [(ngModel)]="pControlEnforcementDir"  formControlName="pControlEnforcementDir" style="width: 90%;">
                        <option value="Egress">Egress</option>
                        <option value="Ingress">Ingress</option>
                      </select>
                    </clr-select-container>
                  </div>
                </div>
  
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="createvrfCancel(vrfAddForm)">Cancel</button>
            <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': vrfAddForm.invalid}">Create</button>
          </div>
        </clr-modal>
      </form>
    </div>
  </div>