<div class="content-area">
    <h2 class="dashboard-header">EPG</h2>
    <div class="alert alert-info" role="alert" *ngIf="showAcknowledge">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">EPG data sent to ACI for acknowledgement.</span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close" (click)="closeAckAlert()"></clr-icon>
        </button>
    </div>
    <div>
      <clr-datagrid [(clrDgSingleSelected)]="selectedEpg" [clrDgLoading]="epgdatagridloading">
        <clr-dg-column>Application Profile</clr-dg-column>
        <clr-dg-column>Tenant</clr-dg-column>
        <clr-dg-column>Bridge Domain</clr-dg-column>
  
        <clr-dg-row *clrDgItems="let epg of epgs" [clrDgItem]="epg">
          <clr-dg-cell>{{epg.login}}</clr-dg-cell>
          <clr-dg-cell>{{epg.display_name}}</clr-dg-cell>
          <clr-dg-cell>{{epg.description}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
          {{pagination.totalItems}} tenants
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <button role="tooltip" aria-haspopup="true"
        class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getEpgs()">
        <clr-icon shape="refresh"></clr-icon>
        <span class="tooltip-content tooltip-refresh">Refresh EPG list</span>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="openEpgModal()" [disabled]="epgdatagridloading">Create
        EPG</button>
  
        <!---------------------------CREATE------------------------------------------------>
  
      <form (ngSubmit)="createEpgSubmit()" [hidden]="submitted" novalidate>
        <clr-modal [(clrModalOpen)]="epgaddmodal" [clrModalSize]="'x0.5'">
          <h3 class="modal-title">Create EPG Process</h3>
          <div class="modal-body">
            <section class="form-block">
              <div class="form-line">
                <div class="form-group" [formGroup]="epgaddform">
                  <clr-radio-container clrInline>
                    <label>Add New Tenant For EpG</label><br/>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio value="Yes" formControlName="addNewTenant"/>
                      <label>Yes &nbsp;&nbsp;</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio value="No"  formControlName="addNewTenant" />
                      <label>No</label>
                    </clr-radio-wrapper>
                  </clr-radio-container>
                </div>
                <div class="form-group" [formGroup]="epgaddform">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'tenantName')}">
                      <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'tenantName')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'tenantName')">
                          Invalid syntax for tenantName: Valid special characters are: . - _</span>
                      </a>
                    </div>
                </div>
                <!-- <div class="dropdown open" [formGroup]="epgaddform">
                    <button class="dropdown-toggle btn btn-primary" type="button">
                        Select Tenant
                    <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <div class="dropdown-menu">
                         <h4 class="dropdown-header">Dropdown header</h4>
                        <button type="button" class="dropdown-item active">common</button>
                        <button type="button" class="dropdown-item">mgmt</button>
                        <button type="button" class="dropdown-item">infra</button>
                        <button type="button" class="dropdown-item">Heroes</button>
                        <button type="button" class="dropdown-item">SnV</button>
                        <button type="button" class="dropdown-item">tn-legacy</button>
                        <button type="button" class="dropdown-item">S2TBK</button>
                        <button type="button" class="dropdown-item">oli-TNT</button>
                    </div>
                </div> -->
              </div>
              <div class="form-line">
                <div class="form-group" [formGroup]="epgaddform">
                    <clr-radio-container clrInline>
                      <label>Add New Bridge Domain</label><br/>
                      <clr-radio-wrapper>
                        <input type="radio" clrRadio value="Yes" formControlName="addNewBridgeDomain"/>
                        <label>Yes &nbsp;&nbsp;</label>
                      </clr-radio-wrapper>
                      <clr-radio-wrapper>
                        <input type="radio" clrRadio value="No"  formControlName="addNewBridgeDomain" />
                        <label>No</label>
                      </clr-radio-wrapper>
                    </clr-radio-container>
                  </div>
                  <div class="form-group" [formGroup]="epgaddform">
                      <clr-dropdown>
                          <button class="btn" clrDropdownTrigger>
                              Select Bridge Domain
                              <clr-icon shape="caret down"></clr-icon>
                          </button>
                          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                              <button type="button" (click)="existingBD = 'common'" clrDropdownItem>common</button>
                              <button type="button" (click)="existingBD = 'mgmt'" clrDropdownItem>mgmt</button>
                          </clr-dropdown-menu>
                      </clr-dropdown>
                  </div>
              </div>
              <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="epgaddform">
                      <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'applicationProfileName')}">
                          <input type="text" id="applicationProfileName" formControlName="applicationProfileName" placeholder="Application Name *">
                          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                            <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                              [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'applicationProfileName')}">
                            </clr-icon>
                            <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'applicationProfileName')">
                              Invalid syntax for applicationProfileName: Valid special characters are: . - _</span>
                          </a>
                        </div>
                  </div>
                </div>
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="epgaddform">
                  <textarea id="description" formControlName="description" placeholder="Description" ngModel></textarea>
                </div>
              </div> 
              <div class="form-line">
                <div class="form-group" [formGroup]="epgaddform">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'epgName')}">
                      <input type="text" id="epgName" formControlName="epgName" placeholder="EPG Name *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'epgName')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'epgName')">
                          Invalid syntax for epgName: Valid special characters are: . - _</span>
                      </a>
                    </div>
                </div>
                  <div class="form-group" [formGroup]="epgaddform">
                      <clr-dropdown>
                          <button class="btn" clrDropdownTrigger>
                              Select Intra EPG
                              <clr-icon shape="caret down"></clr-icon>
                          </button>
                          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                              <button type="button" (click)="intraEPG = 'Enforced'" clrDropdownItem>Enforced</button>
                              <button type="button" (click)="intraEPG = 'Unenforced'" clrDropdownItem>Unenforced</button>
                          </clr-dropdown-menu>
                      </clr-dropdown>
                  </div>
              </div>
              <div class="form-line">
                <div class="form-group" [formGroup]="epgaddform">
                    <clr-dropdown>
                        <button class="btn" clrDropdownTrigger>
                            Prefered Group Member
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                            <button type="button" (click)="grpMember = 'Exclude'" clrDropdownItem>Exclude</button>
                            <button type="button" (click)="grpMember = 'Include'" clrDropdownItem>Include</button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </div>
                <div class="form-group" [formGroup]="epgaddform">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'vmmDomainProfile')}">
                      <input type="text" id="vmmDomainProfile" formControlName="vmmDomainProfile" placeholder="VMM Domain Profile *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'vmmDomainProfile')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'vmmDomainProfile')">
                          Invalid syntax for vmmDomainProfile: Valid special characters are: . - _</span>
                      </a>
                    </div>
                </div>                    
              </div>
              <div class="form-line">
                  <div class="form-group" [formGroup]="epgaddform">
                      <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'resoultionImmediacy')}">
                        <input type="text" id="resoultionImmediacy" formControlName="resoultionImmediacy" placeholder="Resolution Immediacy *">
                        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                          <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                            [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'resoultionImmediacy')}">
                          </clr-icon>
                          <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'resoultionImmediacy')">
                            Invalid syntax for resoultionImmediacy: Valid special characters are: . - _</span>
                        </a>
                      </div>
                  </div>
                  <div class="form-group" [formGroup]="epgaddform">
                      <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'vlaMode')}">
                        <input type="text" id="vlaMode" formControlName="vlaMode" placeholder="VLA Mode *">
                        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                          <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                            [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'vlaMode')}">
                          </clr-icon>
                          <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'vlaMode')">
                            Invalid syntax for vlaMode: Valid special characters are: . - _</span>
                        </a>
                      </div>
                  </div>                    
                </div>             
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="createEpgCancel(epgaddform)">Cancel</button>
            <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': epgaddform.invalid}">Create</button>
          </div>
        </clr-modal>
      </form>
    </div>
  </div>