<div class="content-area">
  <h2 class="dashboard-header">EPG</h2>
  <div class="alert alert-info" role="alert" *ngIf="showEpgAcknowledge">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <span class="alert-text">EPG data sent to ACI.</span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close" (click)="closeEpgAckAlert()"></clr-icon>
    </button>
  </div>
  <div>
    <clr-datagrid [(clrDgSingleSelected)]="selectedEpg" [clrDgLoading]="epgDataGridLoading">
      <clr-dg-column>Application Profile</clr-dg-column>
      <clr-dg-column>Tenant</clr-dg-column>
      <clr-dg-column>Bridge Domain</clr-dg-column>

      <clr-dg-row *clrDgItems="let epg of epgs" [clrDgItem]="epg">
        <clr-dg-cell>{{epg.login}}</clr-dg-cell>
        <clr-dg-cell>{{epg.display_name}}</clr-dg-cell>
        <clr-dg-cell>{{epg.description}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} eps
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
    <button role="tooltip" aria-haspopup="true"
      class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getEpgs()">
      <clr-icon shape="refresh"></clr-icon>
      <span class="tooltip-content tooltip-refresh">Refresh EPG list</span>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="openEpgModal()" [disabled]="epgDataGridLoading">Create
      EPG</button>

    <!---------------------------CREATE------------------------------------------------>

    <form (ngSubmit)="createEpgSubmit()" [hidden]="submitted" novalidate>
      <clr-modal [(clrModalOpen)]="epgAddModal" [clrModalSize]="'x0.5'">
        <h3 class="modal-title">Create EPG</h3>
        <div class="modal-body">
          <section class="form-block">
            <div class="form-line line-description">
              <div class="form-group textarea-group" [formGroup]="epgAddForm">
                <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'tenantName')}">
                  <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                    <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                      [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'tenantName')}">
                    </clr-icon>
                    <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'tenantName')">
                      Invalid syntax for tenantName: Valid special characters are: . - _</span>
                  </a>
                </div>
              </div>
              <div class="form-group textarea-group" [formGroup]="epgAddForm">
                <clr-radio-container clrInline>
                  <label>Add New Tenant For EPG *</label><br />
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio value="Yes" formControlName="addNewTenant" [ngModel]="addNewTenant" />
                    <label>Yes &nbsp;&nbsp;</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio value="No" formControlName="addNewTenant" [ngModel]="addNewTenant" />
                    <label>No</label>
                  </clr-radio-wrapper>
                </clr-radio-container>
              </div>

            </div>
            <!-- <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="epgaddform">
                      <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgaddform, 'tenantName')}">
                        <input type="text" id="tenantName" formControlName="tenantName" placeholder="Tenant Name *">
                        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                          <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                            [ngClass]="{'icon-transparent' : !isInvalid(epgaddform, 'tenantName')}">
                          </clr-icon>
                          <span class="tooltip-content error-message" *ngIf="isInvalid(epgaddform, 'tenantName')">
                            Invalid syntax for tenantName: Valid special characters are: . - _</span>
                        </a>
                      </div>
                  </div>
                </div> -->
            <div class="form-line line-description">

              <!-- <div class="form-group textarea-group" [formGroup]="epgAddForm" >
                <clr-select-container style="width: 150px;">
                  <label>Select Bridge Domain *</label><br />
                  <select clrSelect name="existingBD" [(ngModel)]="existingBD" formControlName="existingBD" style="width: 100%;">
                    <option value="default">default</option>
                  </select>
                </clr-select-container>
              </div> -->
              <div class="form-group textarea-group" [formGroup]="epgAddForm">
                  <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'existingBD')}">
                    <input type="text" id="existingBD" formControlName="existingBD" placeholder="Bridge Domain Name *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'existingBD')}">
                      </clr-icon>
                      <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'existingBD')">
                        Invalid syntax for existingBD: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>

              <div class="form-group textarea-group" [formGroup]="epgAddForm">
                <clr-radio-container clrInline>
                  <label>Add New Bridge Domain *</label><br />
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio value="Yes" formControlName="addNewBridgeDomain" />
                    <label>Yes &nbsp;&nbsp;</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio value="No" formControlName="addNewBridgeDomain" />
                    <label>No</label>
                  </clr-radio-wrapper>
                </clr-radio-container>
              </div>

            </div>
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="epgAddForm">
                  <textarea id="description" formControlName="description" placeholder="Description" ngModel></textarea>
                </div>
              </div>
              
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="epgAddForm" >
                  <clr-select-container style="width: 150px;">
                    <label>Intra EPG Isolation*</label><br />
                    <select clrSelect name="intraEPG" [(ngModel)]="intraEPG" formControlName="intraEPG" style="width: 100%;">
                      <option value="Enforced">Enforced</option>
                      <option value="Unenforced">Unenforced</option>
                    </select>
                  </clr-select-container>
                </div>
             
              
                <div class="form-group textarea-group" [formGroup]="epgAddForm" >
                  <clr-select-container style="width: 200px;">
                    <label>Preffered Group Member *</label><br />
                    <select clrSelect name="grpMember" [(ngModel)]="grpMember" formControlName="grpMember" style="width: 90%;">
                      <option value="Exclude">Exclude</option>
                      <option value="Include">Include</option>
                    </select>
                  </clr-select-container>
                </div>
              </div>

              <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="epgAddForm">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'epgName')}">
                      <input type="text" id="epgName" formControlName="epgName" placeholder="EPG Name *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'epgName')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'epgName')">
                          Invalid syntax for epgName: Valid special characters are: . - _</span>
                      </a>
                    </div>
                  </div>
                
            
                <div class="form-group textarea-group" [formGroup]="epgAddForm">
                  <div class="input-group"
                    [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'applicationProfileName')}">
                    <input type="text" id="applicationProfileName" formControlName="applicationProfileName"
                      placeholder="Application Profile Name *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'applicationProfileName')}">
                      </clr-icon>
                      <span class="tooltip-content error-message"
                        *ngIf="isInvalid(epgAddForm, 'applicationProfileName')">
                        Invalid syntax for applicationProfileName: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>
              </div>
             
             
<!--               
              <div class="form-line line-description">
                  <div class="form-group textarea-group" [formGroup]="epgAddForm" >
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'vlanMode')}" >
                      <input type="text" id="vlanMode" formControlName="vlanMode" placeholder="VLAN Mode *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'vlanMode')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'vlanMode')">
                          Invalid syntax for vlanMode: Valid special characters are: . - _</span>
                      </a>
                    </div>
                  </div>
               
                <div class="form-group textarea-group" [formGroup]="epgAddForm">
                  <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'resoultionImmediacy')}">
                    <input type="text" id="resoultionImmediacy" formControlName="resoultionImmediacy"
                      placeholder="Resolution Immediacy *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'resoultionImmediacy')}">
                      </clr-icon>
                      <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'resoultionImmediacy')">
                        Invalid syntax for resoultionImmediacy: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="form-line line-description" >
                  <div class="form-group textarea-group" [formGroup]="epgAddForm" style="width:100%">
                    <div class="input-group" [ngClass]="{'invalid-input': isInvalid(epgAddForm, 'vmmDomainProfile')}" style="width:100% ; margin-right:10px">
                      <input type="text" id="vmmDomainProfile" formControlName="vmmDomainProfile"
                        placeholder="VMM Domain Profile *">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                        <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                          [ngClass]="{'icon-transparent' : !isInvalid(epgAddForm, 'vmmDomainProfile')}">
                        </clr-icon>
                        <span class="tooltip-content error-message" *ngIf="isInvalid(epgAddForm, 'vmmDomainProfile')">
                          Invalid syntax for vmmDomainProfile: Valid special characters are: . - _</span>
                      </a>
                    </div>
                  </div>
                </div> -->
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="createEpgCancel(epgAddForm)">Cancel</button>
          <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': epgAddForm.invalid}">Create</button>
        </div>
      </clr-modal>
    </form>
  </div>
</div>