<div class="content-area">
    <h2 class="dashboard-header">Contract</h2>
    <div class="alert alert-info" role="alert" *ngIf="showContractAcknowledge">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">Contract data sent to ACI.</span>
                <!-- <div class="alert-actions">
                    <a href="#" class="alert-action">Acknowledge</a>
                    <a href="#" class="alert-action">Reset to green</a>
                </div> -->
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close" (click)="closeContractAckAlert()"></clr-icon>
        </button>
    </div>
    <!-- Success Alert div-->
    <!-- <div class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">...</span>
            </div>
        </div>
    </div> -->
    <div>
      <clr-datagrid [(clrDgSingleSelected)]="selectedContract" [clrDgLoading]="contractdatagridloading">
        <clr-dg-column>Contract</clr-dg-column>  
        <clr-dg-row *clrDgItems="let contract of contracts" [clrDgItem]="contract">
          <clr-dg-cell>{{contract.tenantName}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
          {{pagination.totalItems}} tenants
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <button role="tooltip" aria-haspopup="true"
        class="tooltip tooltip-sm tooltip-top-right hover btn btn-sm btn-link button-refresh" (click)="getContracts()">
        <clr-icon shape="refresh"></clr-icon>
        <span class="tooltip-content tooltip-refresh">Refresh Contract list</span>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="openContractModal()" [disabled]="contractDataGridLoading">Create
        Contract</button>
  
        <!---------------------------CREATE Contract------------------------------------------------>
  
      <form (ngSubmit)="createContractSubmit()" [hidden]="submitted" novalidate>
        <clr-modal [(clrModalOpen)]="contractAddModal" [clrModalSize]="'x0.5'">
          <h3 class="modal-title">Create Contract</h3>
          <div class="modal-body">
            <section class="form-block">
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="contractAddForm">
                    <clr-select-container style="width: 150px;">
                      <label>Select Contract Type *</label><br/>
                      <select clrSelect name="contractType" [(ngModel)]="contractType" formControlName="contractType" style="width: 100%;">
                          <option value="standard">Standard</option>
                          <option value="taboos">Taboos</option>
                          <option value="imported">Imported</option>
                      </select>
                    </clr-select-container>
                </div>
              </div>
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="contractAddForm" >
                  <div class="input-group" [ngClass]="{'invalid-input': isInvalid(contractAddForm, 'contractName')}" >
                    <input type="text" id="contractName" formControlName="contractName" placeholder=" Contract Name *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(contractAddForm, 'contractName')}">
                      </clr-icon>
                      <span class="tooltip-content error-message" *ngIf="isInvalid(contractAddForm, 'contractName')">
                        Invalid syntax for contractName: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>
                </div>
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="contractAddForm" >
                  <div class="input-group" [ngClass]="{'invalid-input': isInvalid(contractAddForm, 'contractSubject')}" >
                    <input type="text" id="contractSubject" formControlName="contractSubject" placeholder=" Contract Subject *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(contractAddForm, 'contractSubject')}">
                      </clr-icon>
                      <span class="tooltip-content error-message" *ngIf="isInvalid(contractAddForm, 'contractSubject')">
                        Invalid syntax for contractSubject: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>
                </div>
              <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="contractAddForm">
                    <clr-select-container style="width: 150px;">
                      <label>Select Contract Filter *</label><br/>
                      <select clrSelect name="contractFilter" [(ngModel)]="contractFilter" formControlName="contractFilter" style="width: 100%;">
                          <option value="filter1">Filter1</option>
                          <option value="filter2">Filter2</option>
                          <option value="filter3">Filter3</option>
                      </select>
                    </clr-select-container>
                </div>
              </div>
              <!-- <div class="form-line line-description">
                <div class="form-group textarea-group" [formGroup]="contractaddform">
                  <div class="input-group" [ngClass]="{'invalid-input': isInvalid(contractaddform, 'contractPolicyName')}">
                    <input type="text" id="contractPolicyName" formControlName="contractPolicyName" placeholder="Subject Name *">
                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-left">
                      <clr-icon class="clr-validate-icon icon-error" shape="exclamation-circle"
                        [ngClass]="{'icon-transparent' : !isInvalid(contractaddform, 'contractPolicyName')}">
                      </clr-icon>
                      <span class="tooltip-content error-message" *ngIf="isInvalid(contractaddform, 'contractPolicyName')">Invalid
                        syntax for login: Valid special characters are: . - _</span>
                    </a>
                  </div>
                </div>
              </div> -->
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="createContractCancel(contractAddForm)">Cancel</button>
            <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': contractAddForm.invalid}">Create</button>
          </div>
        </clr-modal>
      </form>
    </div>
  </div>